.calendarPro {
  display: grid;
  &__column {
    width: 200px;
  }
  &__head {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-light);
  }
  &__day {
    border: 1px solid var(--gray-light);
    height: 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__event {
    background-color: var(--naranja);
    color: var(--white);
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
    &.--Cancelada {
      background-color: var(--danger);
    }
    &.--Enviado {
      background-color: var(--success);
    }
    &.--Reprogramacion {
      background-color: var(--primary);
    }
    &.--Termino {
      background-color: var(--white);
      color: var(--dark);
    }
    &.--Pendiente {
      background-color: var(--rosa);
    }
  }
  &__counter {
    position: absolute;
    z-index: 2;
    left: 0;
    height: 20px;
    width: 20px;
    color: var(--white);
    background-color: var(--success);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
  }
  &__add {
    position: absolute;
    z-index: 2;
    right: 0;
    height: 20px;
    width: 20px;
    color: var(--white);
    background-color: var(--success);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    &:hover {
      box-shadow: var(--boxShadowHover);
    }
  }
  &__colors {
    position: absolute;
    background-color: var(--white);
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    transition: all 0.3s ease-in;
    ul {
      list-style: none;
      padding: 15px;
      li {
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        span {
          margin-right: 5px;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          display: inline-block;
          border: 1px solid var(--dark);
        }
      }
    }
    &::before {
      content: '<';
      position: absolute;
      background-color: var(--white);
      width: 30px;
      height: 50px;
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    &.--active {
      transform: translate(0, -50%);
    }
  }
}
