.palletsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.palletCard {
  &__body {
    display: flex;
  }
  &__info {
    width: 100%;
    text-align: center;
  }
  &__img {
    height: 300px;
    width: 50%;
    object-fit: cover;
    box-shadow: var(--neumorphism);
    margin-bottom: 15px;
    border-radius: 50px;
  }
  &__title {
    text-align: center;
  }
  &__subtitle {
    text-align: center;
  }
  &__specs {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
  }
  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  &__item {
    padding: 5px;
    &:hover {
      color: var(--danger);
      cursor: pointer;
    }
    &.--nonDelete {
      &:hover {
        color: black;
        cursor: default;
      }
    }
  }
}

.modal__grid {
  display: grid;
  grid-template-columns: 50% 50%;

  box-sizing: border-box;
  gap: 15px;
  padding-right: 15px;

  &__small {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    gap: 15px;
    &__2 {
      gap: 15px;
      display: grid;
      grid-template-columns: repeat(2, 45%);
    }
  }

  div {
    img {
      height: 150px;
      width: 150px;
      object-fit: contain;
    }
  }
  .hidde {
    display: none;
  }
}

.modal__grid__3 {
  display: grid;
  grid-template-columns: 30% 60%;

  gap: 15px;
  .hidde {
    display: none;
  }
}

.tablePallet {
  overflow-x: scroll;
  height: 390px;
  &__container {
    border-collapse: collapse;
    box-sizing: border-box;
    td,
    tr,
    th {
      padding: 0.375rem 0.75rem;
      font-size: 0.9375rem;
      line-height: 1.6;
      outline-color: var(--light);
      color: var(--dark);
      background-color: var(--white);
      background-clip: padding-box;
      border-radius: 3px;
      border-color: var(--light);
      box-shadow: none;
      margin-top: 0.375rem;
      border-style: solid;
      border-collapse: collapse;
    }
    td {
      padding: 5px;
    }
  }
}

.specialProcess__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.specialProcess__box {
  padding: 5px;
  border: 1px solid var(--gray-light);
  margin: 5px 5px 0 0;
  cursor: pointer;
  background-color: var(--success);
  color: white;
  position: relative;
  &:hover {
    &::before {
      content: 'x';
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: var(--danger);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
